*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

html{
    width:95%;
    margin: 1% auto;
}

.container-title{
    /* background-color: green; */
    font-size: 60px;
    text-align: center;
}

.header-side-text{
    font-size: 12px;
    text-align: left;
}

.side-image{
    margin: 0%;
}

@media screen and (max-width:576px){
    .container-title{
        /* background-color: green; */
        font-size: 30px;
        text-align: center;
    }
}

@media screen and (min-width:576px) and (max-width:720px) {
    .container-title{
        /* background-color: green; */
        font-size: 40px;
        text-align: center;
    }
}

@media screen and (min-width:720px) and (max-width:960px) {
    .container-title{
        /* background-color: green; */
        font-size: 50px;
        text-align: center;
    }
}

.my-class1{
    background-color: tomato;
}
.my-class2{
    background-color: violet;
}

.my-container2{
    background-color:rgb(245, 245, 245);
    /* height: 100%; */
    padding: 1%;
}

@media screen and (max-width:720px){
    .my-container2{
        display: none;
    }
}

hr{
    border: solid gray 1px;
    margin: 0px;
}

#date{
    color: midnightblue;
    font-style: bold;
}

.main-txt{
    font-weight: bolder;
}

.substory-image{
    width:40%;
    float: left;
    margin-right: 5%;

}

.substory-text{
    float: right;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

.substory-row{
    margin-bottom: 5%;
}

h3{

    font-family: 'Raleway', sans-serif;
    font-weight: 200;

}
/* font-family: 'Raleway', sans-serif; */

.class-for-padding{
    padding-top: 1%;
    padding-bottom: 1%;
}

.class-for-margin{
    margin-top: 1%;
    margin-bottom: 1%;
}

/* side news */

.side-header{
    font-size: 30px;
    font-weight: bold;
}


/* ADDITIONAL CSS FOR OPINION PAGE */